.apresentacao {
    background-image: linear-gradient(lightgray, white );
    padding-left: 4em;
    padding-right: 4em;
}

.fotoPerfil {  
    padding-top: 5em;
}

.sobre_mim {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.nome {
    display: flex;
    align-items: center;
    font-size: 4em;
    font-weight: bolder;
    color: #f61e4e;
    width: 10em;
    position: relative;
    left: 1em;
}